<div class="container">
  <div *ngFor="let product of products">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ product.picture }}" class="card-img" alt="Product img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text text">{{ product.label }}</p>
            <p class="card-text card-price">{{ product.price }} UAH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
