<div class="container">
  <div *ngFor="let product of products">
    <div class="card mb-3">
      <img class="remove-icon" src="../../../assets/pictures/remove-icon.svg" (click)="deleteProductById(product.id)">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ product.picture }}" class="card-img" alt="Product img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text text">{{ product.label }}</p>
            <div class="quantity-container">
              <div class="subtract-quantity" (click)="subtractProduct(product.quantity)">-</div>
              <input type="number" id="productsQuantity" name="productsQuantity" class="products-quantity" min="1" value="{{ product.quantity}}">
              <div class="add-quantity" (click)="addProduct(product.id)">+</div>
            </div>
            <p class="card-text card-price">{{ getOneProductPrice(product.id) }} UAH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="total-price">Your total: {{ totalAmountOfProducts() }} UAH</div>
</div>
