.card {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    margin-top: 45px;
}

.remove-icon {
    width: 25px;
    height: 25px;
}

.card-img {
    max-height: 100%;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.card-title {
    font-weight: 900;
    font-size: 24px;
}

.text {
    font-size: 18px;
}

.card-price {
    font-size: 20px;
}

.total-price {
    margin-top: 35px;
    font-size: 20px;
    text-align: center;
    background-color: #00ace6;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
