.card {
    display: flex;
    flex-direction: row-reverse;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    margin-top: 45px;
}

.remove-icon {
    width: 25px !important;
    height: 25px !important;
}

.card-img {
    max-height: 100%;
    width: 100%;
}

.row {
    align-items: center;
    display: flex !important;
    margin-left: 0px !important;
}

.card-title {
    font-weight: 900;
    font-size: 24px;
}

.card-body {
    padding: 40px;
}

.text {
    font-size: 18px;
}

.card-price {
    font-size: 20px;
}

.total-price {
    margin-top: 35px;
    font-size: 20px;
    text-align: center;
    background-color: #00ace6;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
