<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/pictures/pexels-photo.jpeg" alt="Healthy food">
    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    <div class="carousel-caption">
        <h3 class="h3-responsive">Welcome to Healthy food!</h3>
        <p class="quote">To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/pictures/pexels-photo-2.jpeg" alt="Healthy food">
    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    <div class="carousel-caption">
        <p class="quote">All the money in the world can't buy you back good health.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/pictures/pexels-photo-3.jpeg" alt="Healthy food">
    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    <div class="carousel-caption">
        <p class="quote">Maintaining good health should be the primary focus of everyone.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>