.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.card {
  max-width: 24rem;
  border-radius: 5px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 7px 40px 0 #5D6D7E;
  border: none;
  background-color: #5C7486;
  color: #fff;
  margin-bottom: 30px;
}

.card-img-top {
  max-height: 180px;
  width: 100%;
  cursor: pointer;
}

.dislike, .like {
  height: 25px !important;
  width: 25px !important;
  cursor: pointer;
}

.card-title {
  font-weight: 900;
  font-size: 21px;
}

.added-to-basket-btn {
  width: 15px;
  height: 15px;
  color: #fff;
  margin-bottom: 4px;
  margin-left: 3px;
}

.btn {
  margin-top: 10px;
  color: #fff !important;
  background-color: #00dd92;
}

.added-product {
  color: #00dd92;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}
