.page-footer {
  background-color: #fff !important;
}

.container {
  margin-top: 4%;
  font-size: 15px;
}

.footer-copyright {
  color: #000 !important;
  background-color: #fff !important;
}

.footer-copyright a {
  color: #000 !important;
}