.page-footer {
  background-color: #00d0b9;
  margin-top: 5%;
}

.container {
  margin-top: 4%;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-copyright {
  color: #fff !important;
  background-color: #00d0b9 !important;
}

.footer-copyright a {
  color: #fff !important;
}