.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    box-shadow: 0 7px 40px 0 #5D6D7E;
    border: none;
    background-color: #5C7486;
    color: #fff;
}

.product-details-img {
    max-height: 100%;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.product-details-title {
    font-size: 25px;
    font-weight: 900;

}

.product-details-price {
    font-size: 18px;
}

.product-details-add {
    margin-top: 7px;
    color: #fff !important;
    background-color: #00dd92;
}

.added-product {
    color: #00dd92;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.added-to-basket-btn {
    width: 30px;
    height: 30px;
}