<div class="container">
  <div class="contact-info">
    <div class="contact-info-container">
      <img src="../../../assets/pictures/telephone.svg" class="location-img">
      <div class="telephone-container">
        <p>Telephone</p>
        <p>063 34 45 635</p>
      </div>
    </div>
    <div class="contact-info-container">
      <img src="../../../assets/pictures/email.svg" id="email-img" class="location-img">
      <div class="email-container">
        <p>Email</p>
        <p>HealthyFood@gmail.com</p>
      </div>
    </div>
    <div class="contact-info-container">
      <img src="../../../assets/pictures/location.svg" class="location-img">
      <div class="location-container">
        <p>Location</p>
        <p>Lviv, Ukraine</p>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div #gmap class="map">
    </div>
  </div>
</div>
