<div class="container">
  <div class="triangle-top"></div>
  <div class="triangle-bottom"></div>
  <div class="btn-container">
    <a href="#" class="btn facebook-btn" (click)="_authenticationService.logIn('facebook');" routerLink="/user/{{_authenticationService.getUserData().id}}">
      <img src="../../../assets/pictures/facebook-icon.svg" class="login-icons">
      <div>Login with facebook</div>
    </a>
    <a href="#" class="btn google-btn"  (click)="_authenticationService.logIn('google');" routerLink="/user/{{_authenticationService.getUserData().id}}">
      <img src="../../../assets/pictures/google-icon.svg" class="login-icons">
      <div>Login with google</div>
    </a>
  </div>
  <p>OR</p>
  <div class="create-account">
    <a href="#" class="btn create-account-btn">
      <div class="create-account-text">Create Account</div>
    </a>
  </div>
  <div class="triangle-top"></div>
  <div class="triangle-bottom"></div>
</div>