<header class="header">
  <nav class="navbar fixed-top">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/basket">Basket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/location">Location</a>
        </li>
      </ul>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/desires-list" id="desires-list-container">
            <img src="../../../../assets/pictures/desires-list.svg" class="desires-list-img">
            <div class="desires-list-text">Desires</div>
          </a>
        </li>
      </ul>
      <ul class="nav nav-tabs" id="login">
        <li class="nav-item">
          <a class="nav-link btn" href="#" routerLink="/login" id="login-page">Log in</a>
        </li>
      </ul>
    </div>
  </nav>
</header>